.cart-icon {
  position: relative;
  cursor: pointer;
  color: #444;
  transition: transform 0.2s ease;
  display: flex;
  align-items: center;
}

.cart-icon:hover {
  transform: scale(1.05);
}

.cart-icon svg {
  font-size: 1.2rem;
  width: 1.8rem;
  height: 1.8rem;
}

.cart-count {
  position: absolute;
  top: -6px;
  right: -10px;
  background-color: #111;
  color: #fff;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}